#train-table th,
td {
    text-align: center;
}

.jumbotron {
    background-color: #d2d2d2; 
    color: white
}

h1 {
    font-weight: bolder;
}

thead {
    background: #f1f1f1;
    /* align-content: center;
    text-align: center; */
}

.error {
    color: red;
    margin-left: 5px;
  }